<div class="pb-5">
	<div class="py-3">
		<h1>Cadastre aqui um local de coleta</h1>
	</div>
</div>

<form class="container-fluid" id="form">
	<h3>Dados do Local</h3>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="inputNomeLocal">Nome do Local*</label><br>
				<input class="form-control" type="text" id="inputNomeLocal" name="nome_local" placeholder="Nome do Local*" />
			</div>
			<div class="form-group">
				<label for="inputCEP">CEP*</label><br>
				<input class="form-control" type="email" id="inputCEP" name="cep" placeholder="ex.: 04015-013"/>
			</div>
			<div class="form-group">
				<label for="inputNumero">Número*</label><br>
				<input class="form-control" type="email" id="inputNumero" name="numero" placeholder="ex.: 1240"/>
			</div>
			<div class="form-group">
				<label for="inputTelefone">Telefone</label><br>
				<input class="form-control" type="email" id="inputTelefone" placeholder="ex.: (99) 99999-9999"/>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="inputLogradouro">Logradouro*</label><br>
				<input class="form-control" type="text" id="inputLogradouro"/>
			</div>
			<div class="form-group">
				<label for="inputBairro">Bairro*</label><br>
				<input class="form-control" type="text" id="inputBairro" />
			</div>
			<div class="form-group">
				<label for="inputCidade">Cidade*</label><br>
				<input class="form-control" type="text" id="inputCidade" />
			</div>
			<div class="form-group">
				<label for="inputEstado">Estado*</label><br>
				<input class="form-control" type="text" id="inputEstado" />
			</div>
		</div>
		<div class="col-md-4">
			<h3>Foto do local</h3>
			<div class="form-group">
				<label for="inputFoto">Anexar uma Foto</label><br>
				<input class="form-control" type="file" id="inputFoto" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block btn-lg">
					Criar Local
				</button>
			</div>
		</div>
	</div>
</form>

<script src="/public/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/public/js/jquery-validate/additional-methods.min.js"></script>
<script src="/public/js/jquery-validate/localization/methods_pt.min.js"></script>
<script src="/public/js/jquery-validate/localization/messages_pt_BR.min.js"></script>

<script type="text/javascript">

	$("#form").validate({
		rules: {
			nome_local: {
				required: true
			},
			cep: {
				required: true
			},
		},
		submitHandler: function (form) {
			
		}
	});
	async function criarLocal() {

		let inputNomeLocal = document.getElementById("inputNomeLocal");
		let inputCEP = document.getElementById("inputCEP");
		let inputNumero = document.getElementById("inputNumero");
		let inputTelefone = document.getElementById("inputTelefone");
		let inputLogradouro = document.getElementById("inputLogradouro");
		let inputBairro = document.getElementById("inputBairro");
		let inputCidade = document.getElementById("inputEcidainputCidade");
		let inputEstado = document.getElementById("inputEmasinputEstado");

		let NomeLocal = inputNomeLocal.value;
		let CEP = inputCEP.value;
		let Numero = inputNumero.value;
		let Telefone = inputTelefone.value;
		let Logradouro = inputLogradouro.value;
		let Bairro = inputBairro.value;
		let Cidade = inputCidade.value;
		let Estado = inputEstado.value;

		if (!NomeLocal) {
			alert("Nome inválido!");
			return;
		}

		if (!CEP) {
			alert("CEP inválido!");
			return;
		}

		if (!Numero) {
			alert("Numero inválido!");
			return;
		}

		if (!Telefone) {
			alert("Telefone inválido!");
			return;
		}

		if (!Logradouro) {
			alert("Logradouro inválido!");
			return;
		}

		if (!Bairro) {
			alert("Bairro inválido!");
			return;
		}

		if (!Cidade) {
			alert("Cidade inválido!");
			return;
		}

		if (!Estado) {
			alert("Estado inválido!");
			return;
		}

		let Local = {
			NomeLocal: NomeLocal,
			CEP : CEP,
			Numero : Numero,
			Telefone : Telefone,
			Logradouro : Logradouro,
			Bairro : Bairro,
			Cidade : Cidade,
			Estado : Estado
		};

		try {
			let response = await fetch("https://academico.espm.br/testeapi/criar", {
				method: "POST",
				body: JSON.stringify(Local),
				headers: {
					"content-type": "application/json"
				}
			});

			if (!response.ok) {
				alert("Ocorreu um erro ao cadastrar o local :(");
				return;
			}

			inputNomeLocal.value = "";
			inputCEP.value = "";
			letinputNumero.value = "";
			letinputTelefone.value = "";
			inputLogradouro.value = "";
			inputBairro.value = "";
			inputCidade.value = "";
			inputEstado.value = "";

			// sweetalert aqui 
			alert("Local criado com sucesso!");

		} catch (ex) {
			alert("Ocorreu um erro de rede ao cadastrar o local: " + ex.message)
		}

	}

	// não sei se isso ta certo 
	async function uploadFoto(){
		let inputFoto = document.getElementById('inputFoto');
    	inputFoto.addEventListener('change', handleFileSelect);

	async function handleFileSelect(event) {
		let file = event.target.files[0];
		console.log(file);
	  }
	}

</script>