<div class="pb-5">
	<div class="py-3">
		<h1>Cadastre aqui um local de coleta</h1>
	</div>
</div>

<form class="container-fluid" id="form">
	<h3>Dados do Local</h3>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="inputnomelocal">Nome do Local*</label><br>
				<input class="form-control" type="text" id="inputnomelocal" name="nomelocal" placeholder="Nome do Local" />
			</div>
			<div class="form-group">
				<label for="inputcep">CEP*</label><br>
				<input class="form-control" type="text" id="inputcep" name="cep" placeholder="ex.: 04015-013" onblur="localizarcep()"/>
			</div>
			<div class="form-group">
				<label for="inputnumero">Número*</label><br>
				<input class="form-control" type="text" id="inputnumero" name="numero" placeholder="ex.: 1240"/>
			</div>
			<div class="form-group">
				<label for="inputtelefone">Telefone</label><br>
				<input class="form-control" type="text" id="inputtelefone" name="telefone" placeholder="ex.: (99) 99999-9999"/>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="inputlogradouro">Logradouro*</label><br>
				<input class="form-control" type="text" id="inputlogradouro" name="logradouro"/>
			</div>
			<div class="form-group">
				<label for="inputbairro">Bairro*</label><br>
				<input class="form-control" type="text" id="inputbairro" name="bairro"/>
			</div>
			<div class="form-group">
				<label for="inputcidade">Cidade*</label><br>
				<input class="form-control" type="text" id="inputcidade" name="cidade"/>
			</div>
			<div class="form-group">
				<label for="inputestado">Estado*</label><br>
				<input class="form-control" type="text" id="inputestado" name="estado"/>
			</div>
		</div>
		<div class="col-md-4">
			<h3>Foto do local</h3>
			<div class="form-group">
				<label for="foto">Anexar uma Foto</label><br>
				<input class="form-control" type="file" id="foto" name="foto"/>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block btn-lg">
					Criar Local
				</button>
			</div>
		</div>
	</div>
</form>

<script src="/public/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/public/js/jquery-validate/additional-methods.min.js"></script>
<script src="/public/js/jquery-validate/localization/methods_pt.min.js"></script>
<script src="/public/js/jquery-validate/localization/messages_pt_BR.min.js"></script>

<script type="text/javascript" id="verificar-cep">
	
async function localizarcepClick() {
    let inputcep = document.getElementById("inputcep");
    let exprcep = /^\d\d\d\d\d-\d\d\d$/;

    let cep = inputcep.value.normalize().trim();

    //if (cep == "") {
    //if (!cep || cep.length != 9 || !exprcep.test(cep)) {
    if (!exprcep.test(cep)) {
        Swal.fire({
			icon: "error",
			title: "Oops...",
			text: "O CEP inserido está inválido! Por favor, insira um CEP válido!"
		  });;
        return;
    }

    try {
        //let response = await fetch("http://viacep.com.br/ws/" + cep + "/json/");
        let response = await fetch(`http://viacep.com.br/ws/${cep}/json/`);

        if (!response.ok) {
            Swal.fire({
				icon: "error",
				title: "Oops...",
				text: "Erro de rede ao buscar o CEP! Por favor, tente novamente"
			  });;
            return;
        }

        let objeto = await response.json();

        if (objeto.erro) {
            Swal.fire({
				icon: "error",
				title: "Oops...",
				text: "O CEP inserido está inválido! Por favor, insira um CEP válido!"
			  });;
            return;
        }

        let inputlogradouro = document.getElementById("inputlogradouro");
        let inputbairro = document.getElementById("inputbairro");
        let inputestado= document.getElementById("inputestado");
        let inputcidade = document.getElementById("inputcidade");

        if (objeto.logradouro) {
            inputlogradouro.value = objeto.logradouro;
        } else {
            inputlogradouro.value = "";
        }

        if (objeto.bairro) {
            inputbairro.value = objeto.bairro;
        } else {
            inputbairro.value = "";
        }

        if (objeto.uf) {
            inputestado.value = objeto.estado;
        } else {
            inputestado.value = "";
        }

        if (objeto.localidade) {
            inputcidade.value = objeto.localidade;
        } else {
            inputcidade.value = "";
        }

    } catch (ex) {
        Swal.fire({
			icon: "error",
			title: "Oops...",
			text: "Erro de rede ao buscar o CEP! Por favor, tente novamente"
		  });;
    }
}

let ultimocep = "";

async function localizarcep() {
    let inputcep = document.getElementById("inputcep");
    let exprcep = /^\d\d\d\d\d-\d\d\d$/;

    let cep = inputcep.value.normalize().trim();

    //if (cep == "") {
    //if (!cep || cep.length != 9 || !exprcep.test(cep)) {
    if (!exprcep.test(cep)) {
        //alert("cep inválido");
        return;
    }

    if (ultimocep === cep) {
        return;
    }

    try {
        //let response = await fetch("http://viacep.com.br/ws/" + cep + "/json/");
        let response = await fetch(`http://viacep.com.br/ws/${cep}/json/`);

        ultimocep = cep;

        if (!response.ok) {
            Swal.fire({
				icon: "error",
				title: "Oops...",
				text: "O CEP inserido está inválido! Por favor, insira um CEP válido!"
			  });;
            return;
        }

        let objeto = await response.json();

        if (objeto.erro) {
            Swal.fire({
				icon: "error",
				title: "Oops...",
				text: "O CEP inserido está inválido! Por favor, insira um CEP válido!"
			  });;
            return;
        }

        let inputlogradouro = document.getElementById("inputlogradouro");
        let inputbairro = document.getElementById("inputbairro");
        let inputestado = document.getElementById("inputestado");
        let inputcidade = document.getElementById("inputcidade");

        if (objeto.logradouro) {
            inputlogradouro.value = objeto.logradouro;
        } else {
            inputlogradouro.value = "";
        }

        if (objeto.bairro) {
            inputbairro.value = objeto.bairro;
        } else {
            inputbairro.value = "";
        }

        if (objeto.uf) {
            inputestado.value = objeto.uf;
        } else {
            inputestado.value = "";
        }

        if (objeto.localidade) {
            inputcidade.value = objeto.localidade;
        } else {
            inputcidade.value = "";
        }

    } catch (ex) {
		Swal.fire({
			icon: "error",
			title: "Oops...",
			text: "Erro de rede ao buscar o CEP! Por favor, tente novamente"
		  });;
    }
}
</script>

<script type="text/javascript" id="criar-local">

	$("#form").validate({
		rules: {
			nomelocal: {
				required: true
			},
			cep: {
				required: true
			},
			numero: {
				required: true
			},
			telefone: {
				required: true
			},
			logradouro: {
				required: true
			},
			bairro: {
				required: true
			},
			cidade: {
				required: true
			},
			estado: {
				required: true
			},
		},
		submitHandler: function (form) {
			criarLocal(form);
		}
	});
	async function criarLocal() {
		/*
		let inputnomelocal = document.getElementById("inputnomelocal");
		let inputcep = document.getElementById("inputcep");
		let inputnumero = document.getElementById("inputnumero");
		let inputtelefone = document.getElementById("inputtelefone");
		let inputlogradouro = document.getElementById("inputlogradouro");
		let inputbairro = document.getElementById("inputbairro");
		let inputcidade = document.getElementById("inputcidade");
		let inputestado = document.getElementById("inputestado");

		let nomelocal = inputnomelocal.value;
		let cep = inputcep.value;
		let numero = inputnumero.value;
		let telefone = inputtelefone.value;
		let logradouro = inputlogradouro.value;
		let bairro = inputbairro.value;
		let cidade = inputcidade.value;
		let estado = inputestado.value;

		if (!nomelocal) {
			alert("Nome inválido!");
			return;
		}

		if (!cep) {
			alert("cep inválido!");
			return;
		}

		if (!numero) {
			alert("numero inválido!");
			return;
		}

		if (!telefone) {
			alert("telefone inválido!");
			return;
		}

		if (!logradouro) {
			alert("logradouro inválido!");
			return;
		}

		if (!bairro) {
			alert("bairro inválido!");
			return;
		}

		if (!cidade) {
			alert("cidade inválido!");
			return;
		}

		if (!estado) {
			alert("estado inválido!");
			return;
		}
		*/

		try {
			let response = await fetch("/criarLocal", {
				method: "POST",
				body: new FormData(form)
			});

			if (!response.ok) {
				exibirErro(response);
				return;
			}

			/*
			inputnomelocal.value = "";
			inputcep.value = "";
			letinputnumero.value = "";
			letinputtelefone.value = "";
			inputlogradouro.value = "";
			inputbairro.value = "";
			inputcidade.value = "";
			inputestado.value = "";
			*/
 
			Swal.fire({
				title: "Ebaa!",
				text: "Cadastro realizado com sucesso!",
				icon: "success"
			  });;
			
			form.reset();

		} catch (ex) {
			Swal.fire({
				icon: "error",
				title: "Oops...",
				text: "Ocorreu um problema de rede ao cadastrar o local: " + ex.message
			  });; 
		}

	}

</script>