<div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
	<ol class="carousel-indicators">
	  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img class="d-block w-100 img-carrossel" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" alt="Primeiro Slide">
		<div class="carousel-caption d-none d-md-block fundo-legenda-carrossel">
			<h5>título da notícia</h5>
			<p>breve descrição da notícia</p>
		  </div>
	  </div>
	  <div class="carousel-item">
		<img class="d-block w-100 img-carrossel" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" alt="Segundo Slide">
		<div class="carousel-caption d-none d-md-block fundo-legenda-carrossel">
			<h5>título da notícia</h5>
			<p>breve descrição da notícia</p>
		  </div>
	  </div>
	  <div class="carousel-item">
		<img class="d-block w-100 img-carrossel" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" alt="Terceiro Slide">
		<div class="carousel-caption d-none d-md-block fundo-legenda-carrossel">
			<h5>título da notícia</h5>
			<p>breve descrição da notícia</p>
		  </div>
	  </div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="sr-only">Anterior</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="sr-only">Próximo</span>
	</a>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h2 class="py-3">TÍTULO DA NOTÍCIA</h2>
			<p class="font-20">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				Auctor eu augue ut lectus arcu bibendum. 
				Erat imperdiet sed euismod nisi porta lorem mollis aliquam. 
				Sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				Auctor eu augue ut lectus arcu bibendum. 
				Erat imperdiet sed euismod nisi porta lorem mollis aliquam. 
				Sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				Auctor eu augue ut lectus arcu bibendum. 
				Erat imperdiet sed euismod nisi porta lorem mollis aliquam. 
				Sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. </p>
		</div>
		<div class="col">
			<img src="public/img/infografs.png" alt="">
		</div>
	</div>
</div>

<div class="my-5 centralizar">
	<div class="fundo-cinza-news centralizar">
		<div class="pb-3">
			<img class="pb-3" src="public/vetores/newsletter-PT.svg" alt="Se inscreva na nossa newslettter">
			
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
				incididunt ut labore et dolore magna aliqua. Auctor eu augue ut lectus arcu bibendum. 
				Erat imperdiet sed euismod nisi porta lorem mollis aliquam
			</p>
				<div class="custom-search">
					<input type="text" class="custom-search-input" placeholder="Type your Email">
					<button class="custom-search-botton" type="submit">Subscribe Now!</button>  
			  </div>
		</div>
	</div>
</div>