<h2>Cadastro não encontrado</h2>

<p>O cadastro que você está tentando acessar não foi encontrado. Por favor, verifique se os dados estão corretos.</p>
<style>
    h2 {
        font-family: "Saira Stencil One","Galindo", sans-serif;
        font-weight: 800;
        font-size: 40px;
        text-align: center;
        color: #215439; 
    }
    p {
        font-family: "Goldman", sans-serif;
        color: #215439; 
        font-size: 30px;
        text-align: center;
    }
</style>