<div class="container-fluid pb-5 mt-20">
	<div class="row">
		<div class="col d-flex flex-column justify-content-center">
			<h1 class="text-center">Sobre Nós</h1>
		</div>
		<div class="col">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6P6kYU3tub9D_I2qmaEjWw_wX4FEI7WAvE_3kfU6nNg&s" alt="">
		</div>
	</div>
</div>

<div>
	<h2 class="text-center">Nossa História</h2>
	<hr class="linha-meio">
</div>
<div class="pb-5">
	<p>O descarte indevido de lixo é um problema real na sociedade, 
		como consequência disso a poluição de inúmeras áreas verdes e urbanas, 
		levando a piora de qualidade de vida humana, além da extinção de espécies, 
		animais e biomas.</p>
	
	<p>Easy Trash é um projeto desenvolvido por estudantes do curso de 
		Sistemas de Informação da ESPM. O projeto foi desenvolvido para a disciplina de Projeto Integrado, 
		com o objetivo de criar um website que auxilie na gestão de resíduos urbanos.</p>
	
</div>

<div>
	<h2 class="text-center">Nossa Equipe</h2>
	<hr class="linha-meio">
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 fundo-coluna align-content-center">
			<img class="img-staff" src="public/img/Fernando.jpg" alt="">
			<h3>Fernando Hasellof</h3>
			<p>Com foco na parte administrativa, Fernando Sabella é um líder comprometido em garantir a eficiência e a otimização dos processos internos. Sua vasta experiência em gerenciamento de projetos e operações é fundamental para manter o funcionamento suave e eficaz de nossa equipe e operações comerciais.</p>
		</div>
		<div class="col-md-4 fundo-coluna align-content-center">
			<img class="img-staff" src="public/img/Isa.jpg" alt="">
			<h3>Isabelle Dib</h3>
			<p>Isabelle Dib é especialista na área de dados, trazendo consigo uma vasta experiência em análise e interpretação de informações complexas. Sua expertise em gerenciamento de dados é crucial para o desenvolvimento de estratégias eficazes e orientadas por dados para nossos clientes.</p>
		</div>
		<div class="col-md-4 fundo-coluna align-content-center">
			<img class="img-staff" src="public/img/Henrique.JPG" alt="">
			<h3>Henrique Lecce</h3>
			<p>Henrique Lecce é um líder visionário especializado em UX (Experiência do Usuário) com habilidades excepcionais em combinar cores e arte. Sua formação em design centrado no usuário e sensibilidade artística garantem que nossos produtos digitais sejam funcionais e visualmente cativantes.</p>
		</div>
		
	</div>
</div>
