<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Trash</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        
    </style>
</head>
<body>
    
    
    <div class="container-fluid pb-5 mt-20">
        <div class="row">
            <div class="col d-flex flex-column justify-content-center">
                <h1 class="text-center">Sobre Nós</h1>
            </div>
            <div class="pb-5">
                <p>A esyTrash surgiu de uma ideia do visionario Fernando Adami, estudante de sistemas de informação, motivado por uma vida mais sustentavel e por sua paixão ao planeta e o meio ambiente. Fernando decidiu se juntar a Isabelle e Henrique para tornar sua visão realidade. Com a ideia e equipe formadas o trabalho começou e após meses de trabalho duro, reuniões importantes e noites em claro a easyTrash surgiu e de cara dominou o mercado</p>
            </div>
            <div class="col">
                <img src="public/img/pulo.jpg" alt="">
            </div>
        </div>
    </div>
    
    
    <div>
        <h2 class="text-center">Nossa Equipe</h2>
        <hr class="linha-meio">
    </div>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4 fundo-coluna align-content-center">
                <img class="img-staff rounded-circle" src="public/img/Fernando.jpg" alt="">
                <h3>Fernando Hasellof</h3>
                <p>Com foco na parte administrativa, Fernando Sabella é um líder comprometido em garantir a eficiência e a otimização dos processos internos. Sua vasta experiência em gerenciamento de projetos e operações é fundamental para manter o funcionamento suave e eficaz de nossa equipe e operações comerciais.</p>
            </div>
            <div class="col-md-4 fundo-coluna align-content-center">
                <img class="img-staff rounded-circle" src="public/img/Isa.jpg" alt="">
                <h3>Isabelle Dib</h3>
                <p>Isabelle Dib é especialista na área de dados, trazendo consigo uma vasta experiência em análise e interpretação de informações complexas. Sua expertise em gerenciamento de dados é crucial para o desenvolvimento de estratégias eficazes e orientadas por dados para nossos clientes.</p>
            </div>
            <div class="col-md-4 fundo-coluna align-content-center">
                <img class="img-staff rounded-circle" src="public/img/Henrique.JPG" alt="">
                <h3>Henrique Lecce</h3>
                <p>Henrique Lecce é um líder visionário especializado em UX (Experiência do Usuário) com habilidades excepcionais em combinar cores e arte. Sua formação em design centrado no usuário e sensibilidade artística garantem que nossos produtos digitais sejam funcionais e visualmente cativantes.</p>
            </div>
        </div>
    </div>
    
    <footer class="footer text-center">
        <div class="container">
            <img src="public/img/logo.png" alt="Logo EasyTrash">
            <p>SISTEMAS DE INFORMAÇÃO ESPM</p>
            <p>R. Joaquim Távora 1240</p>
            <p>(11) 99489-6739</p>
            <p><a href="mailto:easyTrash@gmail.com">easyTrash@gmail.com</a></p>
            <div>
                <a class="footer-social" href="#"><img src="public/img/linkedin.png" alt="LinkedIn"></a>
                <a class="footer-social" href="#"><img src="public/img/instagram.png" alt="Instagram"></a>
            </div>
        </div>
        <div>
            <img class="footer-img" src="public/img/footer.png" alt="">
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
