<div class="container-fluid pb-5">
	<div class="row">
		<div class="col d-flex flex-column justify-content-center">
			<h1 class="text-center">Sobre Nós</h1>
		</div>
		<div class="col">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6P6kYU3tub9D_I2qmaEjWw_wX4FEI7WAvE_3kfU6nNg&s" alt="">
		</div>
	</div>
</div>

<div>
	<h2 class="text-center">Nossa História</h2>
	<hr class="linha-meio">
</div>
<div class="pb-5">
	<p>O descarte indevido de lixo é um problema real na sociedade, 
		como consequência disso a poluição de inúmeras áreas verdes e urbanas, 
		levando a piora de qualidade de vida humana, além da extinção de espécies, 
		animais e biomas.</p>
	
	<p>Easy Trash é um projeto desenvolvido por estudantes do curso de 
		Sistemas de Informação da ESPM. O projeto foi desenvolvido para a disciplina de Projeto Integrado, 
		com o objetivo de criar um website que auxilie na gestão de resíduos urbanos.</p>
	
</div>

<div>
	<h2 class="text-center">Nossa Equipe</h2>
	<hr class="linha-meio">
</div>
<div class="container-fluid">

	<div class="row">
		<div class="col fundo-coluna align-content-center">
			<img class="img-staff" src="public/img/Fernando.jpg" alt="">
		</div>
		<div class="col align-content-center">
			<h3>Fernando Hasellof</h3>
			<p>O Fernando tem 19 anos, é do interior de SP e cursa Sistemas de Informação na ESPM</p>
		</div>
		<div class="col fundo-coluna align-content-center">
			<img class="img-staff" src="public/img/Gabriel.jpg" alt="">
		</div>
		<div class="col align-content-center">
			<h3>Gabriel Frutuoso</h3>
			<p>former fortnite pro player 🏴‍☠️</p>
		</div>
	</div>

	<div class="row">
		<div class="col fundo-coluna align-content-center">
			<img class="img-staff" src="https://media-gru2-1.cdn.whatsapp.net/v/t61.24694-24/317045063_833677787875621_7289761022064245745_n.jpg?ccb=11-4&oh=01_Q5AaIGtO1imFZhF5wgNoAfCDwwuhBzwz-oZyjl1IvKFnqGIN&oe=6634D189&_nc_sid=e6ed6c&_nc_cat=104" alt="">
		</div>
		<div class="col align-content-center">
			<h3>Henrique Lecce</h3>
			<p>lorem ipsum</p>
		</div>
		<div class="col fundo-coluna align-content-center">
			<img class="img-staff" src="public/img/Isa.jpg" alt="">
		</div>
		<div class="col align-content-center">
			<h3>Isabelle Dib</h3>
			<p>Estudante de Sistemas de Informação</p>
		</div>
	</div>

</div>
