<h1 class="titulo-principal">Sobre Nós</h1>

<h1 class="text-center">Nossa História</h1>

<p>Lorem Ipsum</p>

<div class="container-fluid">

	<div class="row">
		<div class="col-sm-6">
			Fernando
		</div>
		<div class="col-sm-6">
			Henrique
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Gabriel
		</div>
		<div class="col-sm-6">
			Isabelle
		</div>
	</div>

</div>
